<div class="profile container">
  <div class="row">
    <div class="col">
    <div class="card">
        <div class="card-body">
          <h5 class="card-title">    
            <ul class="nav nav-pills nav-fill dark" id="profile-nav" role="tablist">
        <li class="nav-item">
          <a class="nav-link" data-toggle="pill" role="tab" aria-controls="pills-welcome" aria-expanded="true" routerLink="company-welcome" routerLinkActive="active">Company Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="pill" role="tab" aria-controls="pills-industry" aria-expanded="true" href="#" routerLinkActive="active">Industry Info</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="pill" role="tab" aria-controls="pills-risk" aria-expanded="true" routerLink="risk" routerLinkActive="active">Risk Assets</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="pill" role="tab" aria-controls="pills-fleet" aria-expanded="true" routerLink="fleet" routerLinkActive="active">Fleet Management</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="pill" role="tab" aria-controls="pills-broker" aria-expanded="true" href="#" routerLinkActive="active">Broker/Carrier Info</a>
          </li>
      </ul></h5>
<router-outlet></router-outlet>
        </div>
      </div>
    </div>
</div>
<!--dashboard components-->
<div class="row">
  <div class="col">
      <div class="card">
          <div class="card-body">
            <h4 class="card-title">Activity Timeline</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="card-link">View all history</a>
          </div>
        </div>
  </div>
  <div class="col">
      <div class="card">
          <div class="card-body">
            <h4 class="card-title">Quick Connect</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <button id="submit" class="btn btn-dark">Save</button>
          </div>
        </div>
  </div>
</div>
</div>