<div class="row justify-content-center">
  <div class="col-11">
<div class="card">
  <div class="card-header text-white bg-dark">
    Insured Property
  </div>
    <div class="card-body">
        <form>
            <div class="form-row">
                <div class="col">
                    <input type="text" class="form-control" placeholder="Street">
                  </div>
              <div class="col">
                <input type="text" class="form-control" placeholder="City">
              </div>
              <div class="col">
                <input type="text" class="form-control" placeholder="State">
              </div>
              <div class="col">
                <input type="text" class="form-control" placeholder="Zip">
              </div>
            </div>
              <br>
              <div class="form-row">
                <div class="col-sm-6">
                  
                      <span>Building Sprinklers?<select class="form-control" id="sprinklers">
                      <option>No</option>
                      <option>Yes</option>
                    </select>
              </span>
                <br>
                <div class="input-group">
                  <span>Building Owner:</span>
                  <input type="text" class="form-control" placeholder="Owner name" aria-label="Owner name" aria-describedby="">
                </div>
                <br>
                <div class="input-group">
                  <span>Building Sq Ft:</span>
                  <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                </div>
                <br>
                <div class="input-group">
                  <span>Building Occupancy</span>
                  <input type="text" class="form-control" aria-label="">
                </div>
                <br>
                <div class="input-group">
                  <span>Location Employees</span>
                  <input type="text" class="form-control" aria-label="">
                </div>
                <br>
                <div class="input-group">
                  <span>Location Contents</span>
                  <input type="text" class="form-control" aria-label="">
                </div>
                <br>
                <div class="input-group">
                  <span>Location Inventory</span>
                  <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                </div>
              </div>
            </div>
          </form>
    </div>
  </div>
</div>      
</div>
<div class="row justify-content-center">
    <div class="col-11">
  <div class="card">
    <div class="card-header text-white bg-dark">
      Insured Fleet
    </div>
      <div class="card-body">
        <div class="container">
          <div class="row">
            <div class="col">
              <label for="Year">Year</label>
              <div class="card">
                2015
              </div>
            </div>              
        <div class="col">
            <label for="Year">Make</label>
            <div class="card">
              2015
            </div>
            </div>
            <div class="col">
                <label for="Year">Model</label>
                <div class="card">
                  2015
                </div>
                </div>
                <div class="col">
                    <label for="Year">VIN#</label>
                    <div class="card">
                      2015
                    </div>
                    </div>
                    <div class="col">
                        <label for="Year">Driver</label>
                        <div class="card">
                          2015
                        </div>
                        </div>
                        <div class="col">
                            <label for="Year">Garaging Zip</label>
                            <div class="card">
                              2015
                            </div>
                            </div>
                            <div class="col">
                                <label for="Year">Date Added</label>
                                <div class="card">
                                  2015
                                </div>
                                </div>
                                <div class="col">
                                    <label for="Year">Titled To</label>
                                    <div class="card">
                                      2015
                                    </div>
                                    </div>
          </div>
          <form>
              <div class="form-row">
                  <div class="col">
                      <label for="Year">Year</label>
                      <input type="number" class="form-control" placeholder="Year">
                    </div>
                    <div class="col">
                        <label for="Make">Make</label>
                        <input type="text" class="form-control" placeholder="Make">
                      </div>
                      <div class="col">
                          <label for="Model">Model</label>
                          <input type="text" class="form-control" placeholder="Model">
                        </div>
                        <div class="col">
                            <label for="VIN">VIN#</label>
                            <input type="text" class="form-control" placeholder="VIN">
                          </div>
                          <div class="col">
                              <label for="Driver">Driver</label>
                              <input type="text" class="form-control" placeholder="Driver name">
                            </div>
                            <div class="col">
                                <label for="ZIP">Garaging Zip</label>
                                <input type="number" class="form-control" placeholder="zip">
                              </div> 
                              <div class="col">
                                  <label for="Date">Date Added</label>
                                  <input type="date" class="form-control" placeholder="mm/dd/yyyy">
                                </div>
                                <div class="col">
                                    <label for="Title">Titled To</label>
                                    <input type="text" class="form-control" placeholder="Title">
                                  </div>
                  </div>
          </form>
        </div>
      </div>
    </div>
  </div>      
  </div>