.register-buttons{ 
    float: right;
    height: 6rem;
    width: 10rem;
    border: none;
}

form, .lead, h3{
    display: block;
    text-align: center;
}
#landing-content{
    top: 35%;
    left:25%;
    right: 25%;
    position: fixed;
}