<!-- to do, general styling purposes -->
<header>
  <div  class="container-fluid">
    <img>
    <button class="btn-lg btn-dark register-buttons" >Login</button>
    <button class="btn-lg register-buttons" >Register</button>
    
  </div>
</header>

<div class="jumbotron-fluid" id="landing-content">
  
    <h3 class="display-3">Matt, welcome to Swivyl</h3>
    <p class="lead">Let's Get Started</p>
    <form class="form-group" action="">
      <input type="text" >
      <input type="password"hidden>

      <button class="btn btn-dark">Confirm password</button>
    </form>
  
</div>

