.register-buttons{ 
    float: right;
    height: 6rem;
    width: 10rem;
    border: none;
}

form, .lead, h3{
    display: block;
    text-align: center;
}
form > input {
    width: 14rem;
    vertical-align: middle;
}
#landing-content{
    top: 35%;
    left:25%;
    right: 25%;
    position: fixed;
}
.landing-p {
    font-size: 1.8rem;
}
.smoothe-corner{
    border-radius: 6px;
}
#landing-footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3rem;
    background: #29363d;
}
#landing-footer p {
    position: relative;
    width: 100%;
    text-align: center;
    color: white;
    padding-top: 1rem;
    margin-bottom: 0;
}