<div class="row justify-content-center">
    <div class="col-11">
    <div class="card">
      <div class="card-header text-white bg-dark">
        Insured Property
      </div>
      <div class="card-body">
        <p>Location</p>
          <form>
            <div class="row adress-form">
              <div class="col">
                <div type="text" class="card asset-address-info" >
                  <span>
  
                  </span>
                </div>
              </div>
              <div class="col">
                <div type="text" class="card asset-address-info">
                  <span>
  
                  </span>
                </div>
              </div>
              <div class="col">
                <div type="text" class="card asset-address-info">
                  <span>
  
                  </span>
                </div>
              </div>
              <div class="col">
                <div type="text" class="card asset-address-info">
                  <span>
  
                  </span>
                </div>
              </div>
            </div>
              <div class="row justify-content-start">
                <div class="col-2">
                  <label>Building Sprinklers:</label>
                </div>
                <div class="col-1">
                  <select class=" bottom-form-input" id="sprinklers">
                  <option>No</option>
                  <option>Yes</option>
                  </select>
                </div>
              </div>
                
              <div class="row justify-content-start">
                <div class="col-2">
                  <label>Building Owner:</label>
                </div>
                <div class="col-1">
                  <input type="text" class=" bottom-form-input" placeholder="Owner name" aria-label="Owner name" aria-describedby="">
                </div>
              </div>
                
                <div class="row justify-content-start">
                  <div class="col-2">
                    <label>Building Sq Ft:</label>
                  </div>
                  <div class="col-1">
                  <input type="text" class=" bottom-form-input" id="basic-url" aria-describedby="basic-addon3">
                  </div>
                </div>
                
                <div class="row justify-content-start">
                  <div class="col-2">
                    <label>Building Occupancy:</label>
                  </div>
                  <div class="col-1">
                  <input type="text" class=" bottom-form-input" aria-label="">
                  </div>
                </div>
                
                <div class="row justify-content-start">
                  <div class="col-2">
                    <label>Location Employees:</label>
                  </div>
                  <div class="col-1">
                  <input type="text" class=" bottom-form-input" aria-label="">
                  </div>
                </div>
                
                <div class="row justify-content-start">
                  <div class="col-2">
                    <label>Location Contents:</label>
                  </div>
                  <div class="col-1">
                  <input type="text" class=" bottom-form-input" aria-label="">
                  </div>
                </div>
                
                <div class="row justify-content-start">
                  <div class="col-2">
                    <label>Location Inventory:</label>
                  </div>
                  <div class="col-1">
                  <input type="text" class=" bottom-form-input" aria-label="Amount (to the nearest dollar)">
                  </div>
                </div>
                
          </form>
      </div>
    </div>
  </div>      
  </div>