


<!-- List of cars -->
      <!-- <ng-template ngIf="fleet"> -->
        <div class="container">
          <div class="form-row">
            <div class="col">
              <label for="Year">Year</label>
              <div class ="card">
                <!-- toDo use ngForOf to iterate over all of these -->
                <span>{{fleets.year}}</span>
              </div>
            </div>
            <div class="col">
              <label for="Make">Make</label>
              <div class="card">
                  <span>{{vehicle.id}}</span>
              </div>
            </div>
            <div class="col">
              <label for="Model">Model</label>
              <div class="card">
                <span>{{vehicle.id}}</span>
              </div>
            </div>
            <div class="col">
              <label for="VIN">VIN#</label>
              <div class="card">
                <span>{{vehicle.id}}</span>
                </div>
            </div>
            <div class="col">
              <label for="Driver">Driver</label>
              <div class="card">
                <span>{{vehicle.id}}</span>
              </div>
            </div>
            <div class="col">
              <label for="ZIP">Garaging Zip</label>
              <div class="card">
                <span>{{vehicle.id}}</span>
              </div>
            </div> 
            <div class="col">
              <label for="Date">Date Added</label>
              <div class="card">
                <span>{{vehicle.id}}</span>
              </div>
            </div>
            <div class="col">
              <label for="Title">Titled To</label>
              <div class="card">
                <span>{{vehicle.id}}</span>
              </div>
            </div>
          </div>
        </div>
        <img (click)="refreshList($event)" id="refresh-fleet" src="https://d30y9cdsu7xlg0.cloudfront.net/png/12184-200.png" alt="refresh">
      
      
<!-- end of cars -->
