<div class="row justify-content-center">
    <div class="col-11">
  <div class="card">
    <div class="card-header text-white bg-dark">
      Insured Fleet
    </div>
      <div class="card-body">
        <div class="container">
          <form>
            <div class="form-row">
              <div class="col">
                <label for="Year">Year</label>
                <input type="number" class="form-control" placeholder="Year">
              </div>
              <div class="col">
                <label for="Make">Make</label>
                <input type="text" class="form-control" placeholder="Make">
              </div>
              <div class="col">
                <label for="Model">Model</label>
                <input type="text" class="form-control" placeholder="Model">
              </div>
              <div class="col">
                <label for="VIN">VIN#</label>
                <input type="text" class="form-control" placeholder="VIN">
              </div>
              <div class="col">
                <label for="Driver">Driver</label>
                <input type="text" class="form-control" placeholder="Driver name">
              </div>
              <div class="col">
                <label for="ZIP">Garaging Zip</label>
                <input type="number" class="form-control" placeholder="zip">
              </div> 
              <div class="col">
                <label for="Date">Date Added</label>
                <input type="date" class="form-control" placeholder="mm/dd/yyyy">
              </div>
              <div class="col">
                <label for="Title">Titled To</label>
                <input type="text" class="form-control" placeholder="Title">
              </div>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>      
  </div>