
<!-- Cards for Dashboard -->
<div class="container">
<div class="row">
    <div class="col-sm-6 col-md-6">
      <div class="card">
        <div class="card-header">
          Card title
        </div>
        <div class="card-body">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
        </div>
        <div class="card-footer">Card footer</div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-md-6">
      <div class="card">
        <div class="card-body">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="basic-addon2">
                <span class="input-group-addon" id="basic-addon2"><button type="button" class="btn btn-dark">Go</button></span>
              </div>
        </div>
      </div>
    </div>
  </div>
    <div class="row">
          <div class="col-sm-6 col-md-6">
<app-activity-timeline></app-activity-timeline>
        </div>
          <div class="col-sm-6 col-md-6">
 <app-quick-connect></app-quick-connect>
        </div>
 </div><!--/.col-->
  
</div>