<div class="row justify-content-center">
    <div class="col-11">
    <div class="card dashboard-card">
      <div class="card-header dashboard-header text-white bg-dark">
        Insured Property
      </div>
      <div class="card-body" *ngFor="let property of properties">
          <div class="row justify-content-start">
              <div class="col-2">
                <label>Location Address:</label>

              </div>
              <div class="col">
                {{property.address}}
              </div>
            </div>

            <div class="row justify-content-start">
              <div class="col-2">
                <label>Building Sprinklers:</label>
              </div>
              <div class="col">
                {{property.building_sprink}}
              </div>
            </div>
                
            <div class="row justify-content-start">
              <div class="col-2">
                <label>Building Owner:</label>
              </div>
              <div class="col">
                {{property.owner}} 
              </div>
            </div>
                
            <div class="row justify-content-start">
              <div class="col-2">
                <label>Building Sq Ft:</label>
              </div>
              <div class="col">
                  {{property.sqft_of_building}} sqft 
              </div>
            </div>
                
            <div class="row justify-content-start">
              <div class="col-2">
                <label>Building Occupancy:</label>
              </div>
              <div class="col">
                {{property.building_occ}}
              </div>
            </div>
                
            <div class="row justify-content-start">
              <div class="col-2">
                <label>Location Employees:</label>
              </div>
              <div class="col">
                {{property.location_employees}}
              </div>
            </div>
                
            <div class="row justify-content-start">
              <div class="col-2">
                <label>Location Contents:</label>
              </div>
              <div class="col">
                {{property.location_contents}}
              </div>
            </div>
                
            <div class="row justify-content-start">
              <div class="col-2">
                <label>Location Inventory:</label>
              </div>
              <div class="col">
                {{property.location_inventory}}
              </div>
            </div>

            <div class="row justify-content-start">
                <div class="col-2">
                  <label>Entity:</label>
                </div>
                <div class="col">
                  {{property.entityId}}
                </div>
              </div>
           <hr>     

      </div>
  </div>
      <!-- <a>+ Add Location</a> -->
    </div>

  </div> 

  




