<div class="fleet container">
  <div class="row justify-content-center">
  <h4>DO YOU HAVE ANY VEHICLES?</h4>
</div>

<!-- List of cars -->

      
  
       
<div  class="fleets container" >
  <div class="row">
    <div class="col">
      <label for="Year">Year</label>
    </div>
    <div class="col">
      <label for="Make">Make</label>
    </div>
    <div class="col">
      <label for="Model">Model</label>
    </div>
    <div class="col">
      <label for="VIN">VIN#</label>
    </div>
    <div class="col">
      <label for="Driver">Driver</label>
    </div>
    <div class="col">
      <label for="ZIP">Garaging Zip</label>
    </div>
    <div class="col">
      <label for="Date">Date Added</label>
    </div>
    <div class="col">
      <label for="Title">Titled To</label>
    </div>
  </div>
  <div *ngFor="let fleet of fleets" class="form-row">
    <div class="col">
      <div class ="card">
        <!-- toDo use ngForOf to iterate over all of these -->
        <span >{{fleet.year}}</span>
      </div>
    </div>
    <div class="col">
      
      <div class="card">
          <span>{{fleet.id}}</span>
      </div>
    </div>
    <div class="col">
      
      <div class="card">
        <span>{{fleet.id}}</span>
      </div>
    </div>
    <div class="col">
      
      <div class="card">
        <span>{{fleet.id}}</span>
        </div>
    </div>
    <div class="col">
      
      <div class="card">
        <span>{{fleet.id}}</span>
      </div>
    </div>
    <div class="col">
      
      <div class="card">
        <span>{{fleet.id}}</span>
      </div>
    </div> 
    <div class="col">
      
      <div class="card">
        <span>{{fleet.id}}</span>
      </div>
    </div>
    <div class="col">
      
      <div class="card">
        <span>{{fleet.id}}</span>
      </div>
    </div>
  </div>
  <form action="">
    <div class="form-row">
      <div class="col">
        <div class="card">
          <input placeholder="Year" type="number">
        </div>
      </div>
      <div class="col">
        
        <div class="card">
            <input placeholder="Make" type="text">
        </div>
      </div>
      <div class="col">
        
        <div class="card">
          <input placeholder="Model" type="text">
        </div>
      </div>
      <div class="col">
        
        <div class="card">
          <input placeholder="Vin#" type="text">
          </div>
      </div>
      <div class="col">
        
        <div class="card">
          <input placeholder="Driver" type="text">
        </div>
      </div>
      <div class="col">
        
        <div class="card">
          <input placeholder="Garaging Zip" type="number">
        </div>
      </div> 
      <div class="col">
        
        <div class="card">
          <input placeholder="mm/dd/yyyy" type="text">
        </div>
      </div>
      <div class="col">
        
        <div class="card">
          <input placeholder="Titled To" type="text">
        </div>
      </div>
    </div>
    <button (click)="nothing()" type="submit" class="btn btn-pill">submit</button>
  </form>

</div>
<!-- File upload for CSV, not for MVP -->
<!-- <form action="">
  <input class="" type="file"/>
  <button  class="btn btn-dark" type="submit" >Upload</button>
</form> -->

<!-- end of cars -->
<div class="row justify-content-end">
<a routerLink="../company-shareholder">Next</a>
</div>
</div>
